@font-face {
    font-family: 'Gotham Pro Light';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('../fonts/GothamPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #292929;
    color: #fff;
    font-family: "Gotham Pro", sans-serif;
    margin: 0;
}

.header {
    padding-top: 50px;
}

.text-color-red {
    color: #ff3469;
    font-family: "Gotham Pro Medium";
}

.description {
    font-family: "Gotham Pro Light";
    letter-spacing: 0.12px;
    font-size: 12px;
}

.header-contacts {
    text-align: right;
}

.header-phone {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
    display: block;
}

.header-info {
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
    display: block;
    letter-spacing: 0.12px;
}

.callback {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    color: #ff3469;
    margin-top: 16px;
    display: block;
}

.hero {
    text-align: center;
    padding-top: 100px;
    border-bottom: 1px solid #4c4c4c;
}


.hero-title {
    text-transform: uppercase;
    font-size: 34px;
    font-family: "Gotham Pro Medium";
    letter-spacing: 0.34px;
    margin: auto;
    margin-bottom: 34px;
    max-width: 692px;

}
.hero-description {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    font-family: "Gotham Pro Light";
    letter-spacing: 0.18px;
    line-height: 1.4;
    margin: auto;
    max-width: 590px;
}

.flowers-slider {
    width: 100%;
    text-align: center;
    letter-spacing: 0.18px;
    margin-bottom: 83px;
    margin-top: 87px;
}

.unic {
    font-family: "Gotham Pro Medium";
    font-weight: 500;
    letter-spacing: 0.18px;

}

html:root {
    --swiper-navigation-size: 18px;
}

.swiper-button-prev,.swiper-button-next {
    --swiper-navigation-color: white;
}

.swiper-button-next:hover,.swiper-button-prev:hover {
    --swiper-navigation-color: #ff2e55;
}

.hero-cta {
    display: block;
    margin-bottom: 36px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.19px;
    font-family: "Gotham Pro Light";
}


.button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 0.18px;
    background-color: #ff2e55;
    border: 3px solid #ff2e55;
    padding: 30px 65px 26px 65px;
    margin-top: 36px;
    margin-bottom: 77px;
    cursor: pointer;
    border: none;
}


.reviews {
    padding-top: 100px;
    padding-bottom: 50px;

}

.reviews-slider{
    margin-top: 100px;
}

.section-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    font-family: "Gotham Pro Medium";
    text-align: center;
    letter-spacing: 0.3px;

}

.review-slide {
    padding-left: 60px;
    padding-right: 60px;
}

.review-image {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    font-family: "Gotham Pro Light";
    position: relative;
    margin-right: 50px;
}

.review-image:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.review-image > * {
    position: relative;
}

.review-image-1 {
    background: #000 url("../img/reviews/image-1.jpg") center;
}

.review-image-2 {
    background: #000 url("../img/reviews/image-2.jpg") no-repeat 10% 100%;
}

.review-name {
    margin-bottom: 7px;
    font-family: "Gotham Pro Medium";
    letter-spacing: 0.2px;
    font-size: 20px;
    font-weight: 500
}

.review-city {
    letter-spacing: 0.18px;
    font-size: 18px;
    font-weight: 400;
}

.review-text {
    font-size: 18px;
    font-family: "Gotham Pro Light";
    letter-spacing: 0.18px;
    text-align: left;
    line-height: 1.4;

}

.review-link {
    font-size: 18px;
    font-weight: 400;
    color: #f24841;
}

.advantages {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 50px;
    border-bottom: 1px solid #4c4c4c;
}

.advantages-title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    line-height: 1.4;
    max-width: 270px;
    margin: auto;
}

.advantages-wrapper {
    min-height: 82px;
    margin-bottom: 30px;
}

.goods {
    padding-top: 100px;
    padding-bottom: 100px;

}

.section-description{
    font-size: 18px;
    text-align: center;
}

.text-red {
    color: #ff1844;
}

.card {
    text-align: center;
    border: 3px solid white;
    padding: 33px 35px 30px 35px;
    margin-top: 27px;
    height: 480px;

}

.card-title {
    margin-top: 23px;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.card-label {
    font-size: 14px;
    display: block;
    margin-bottom: 7px;
    margin-top: 20px;

}

.color-label {
    width: 20px;
    height: 20px;
    cursor: pointer;

}

.color-input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -9;
}

.color-label.rose-white,.lilium-white,.astras-white,.lilac-white,.orchid-white,.iris-white,.hrisontemum-white,.chamomile-white {
    background-color: white;
}

.color-label.rose-beige,.lilium-beige,.astras-beige,.lilac-beige,.orchid-beige,.iris-beige,.hrisontemum-beige,.chamomile-beige {
    background-color: #f7b496;
}

.color-label.rose-pink,.lilium-pink,.astras-pink,.lilac-pink,.orchid-pink,.iris-pink,.hrisontemum-pink,.chamomile-pink {
    background-color: #ed366e;
}

.color-label.rose-red,.lilium-red,.astras-red,.lilac-red,.orchid-red,.iris-red,.hrisontemum-red,.chamomile-red {
    background-color: #ff0000;
}

.color-label.rose-blue,.lilium-blue,.astras-blue,.lilac-blue,.orchid-blue,.iris-blue,.hrisontemum-blue,.chamomile-blue {
    background-color: #12129d;
}

.counter-input {
    border: 2px solid #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #292929;
    margin-right: 15px;
    margin-left: 15px;
}

.counter-button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #292929;
    border: none;
}

.card-button {
    font-size: 14px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.more {
    font-size: 14px;
    color: #f24841;
    display: block;
    text-align: center;
    margin-top: 39px;
    padding: 10px;
}

.more:after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 4px;
    background: url("../img/carret.svg") no-repeat center;
    margin-left: 14px;
    vertical-align: middle;
}

.offer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1a1a1a;
    text-align: center;
}

.offer-link {
    text-transform: uppercase;
    color: white;
    display: block;
    font-size: 30px;
    margin-bottom: 65px;
}

.offer-label {
    display: block;
    margin-bottom: 22px;
    font-size: 14px;

}

.offer-phone {
    font-size: 36px;
    text-decoration: none;
    color: white;
}

.footer-wrapper {
    text-align: right;
}

.footer-label {
    display: block;
    font-size: 14px;
    letter-spacing: 0.14px;
    margin-bottom: 12px;
    margin-top: 11px;

}

.footer-phone {
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 33px;
}

.footer-menu-link {
    color: white;
    font-size: 18px;
}

.footer-menu-item {
    margin-right: 30px;
}

.social {
    font-size: 16px;
}

.footer-white {
    background-color: #ffffff;
}

.footer-white {
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-description {
    font-family: "Gotham Pro Light";
    letter-spacing: 0.12px;
    font-size: 12px;
}



.a-gradient {
    color: black;
    font-size: 16px;
    list-style: 0.12px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center bottom 1px;
    background-size: 100% 1px;
    background-image: linear-gradient(to right, red, blue);
}
.a-gradient:hover {
    background-image: linear-gradient(to right, blue, black);
}

@media (max-width: 768px) {
    .header{
        text-align: center;
    }
    .header-contacts {
        text-align: center;
    }

    .hero {
        padding-top: 50px;
    }

    .hero-title {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 1.6;
    }

    .hero-description {
        font-size: 16px;
        line-height: 1.6;
    }

    .button {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .colors {
        max-width: 200px;
        margin: auto;
    }

    .card-label {
        margin: 20px auto;
        display: block;
    }


    .footer-wrapper {
        text-align: left;
    }

    .footer-logo {
        padding: 10px;
    }

    .footer-description {
        padding: 10px;
        display: block;
    }

    .footer-white {
        text-align: center;
    }

}

.modal {
    display: none;
}

.modal-title {
    color: #292929;
}

.modal-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.modal-button {
    width: 100%;
    margin-bottom: 0;
}

@media (max-width: 576px) {
    .footer-wrapper {
        text-align: left;
    }
}












